<%- include("partials/header") %>

<div class="container">
  <h1>Compose</h1>
  <form action="/compose" method="post" class="compose-form">
    <label>Title</label>
<<<<<<< HEAD
    <input type="text" name="postTitle" autocomplete="off" required />
=======
    <input type="text" name="postTitle" autocomplete="off" required/>
>>>>>>> ec4fb49fb26d44c84ed299695b083c1c6282c1cb
    <label>Post</label>
    <textarea name="postText" id="" cols="30" rows="10" required></textarea>
    <button type="submit" name="button">Publish</button>
  </form>
  <%- include("partials/footer") %>
</div>
