//First Palette
$light: #f6f6f6;
$lightGrey: #f0f5f9;
$grey: #c9d6df;
$lightDark: #52616b;
$dark: #222121;

//Second Palette
$lightGreen: #e4f9f5;
$green: #30e3ca;
$darkGreen: #11999e;
$dark2: #40514e;
